* {
  margin: 0;
  padding: 0;
}

ul, ol {
  list-style-type: none;
}

a, a:hover {
  text-decoration: none;
}

p {
  line-height: 24px;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lato', sans-serif;
}

.section_heading h1 {
  text-transform: capitalize;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 32px;
}

.preloader_main {
  position: fixed;
  height: 100%;
  width: 100%;
  background: #fff;
  z-index: 9999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sk-folding-cube {
  margin: auto;
  width: 40px;
  height: 40px;
  -webkit-transform: rotateZ(45deg) translate(-50%, -50%);
          transform: rotateZ(45deg) translate(-50%, -50%);
}

.sk-folding-cube h3 {
  -webkit-transform: rotateZ(-45deg);
          transform: rotateZ(-45deg);
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 16px;
  margin-top: 85px;
  margin-left: 37px;
  color: #333;
}

.sk-folding-cube .sk-cube {
  float: left;
  width: 50%;
  height: 50%;
  position: relative;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.sk-folding-cube .sk-cube:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #333;
  -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
  animation: sk-foldCubeAngle 2.4s infinite linear both;
  -webkit-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
}

.sk-folding-cube .sk-cube2 {
  -webkit-transform: scale(1.1) rotateZ(90deg);
  transform: scale(1.1) rotateZ(90deg);
}

.sk-folding-cube .sk-cube3 {
  -webkit-transform: scale(1.1) rotateZ(180deg);
  transform: scale(1.1) rotateZ(180deg);
}

.sk-folding-cube .sk-cube4 {
  -webkit-transform: scale(1.1) rotateZ(270deg);
  transform: scale(1.1) rotateZ(270deg);
}

.sk-folding-cube .sk-cube2:before {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

.sk-folding-cube .sk-cube3:before {
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}

.sk-folding-cube .sk-cube4:before {
  -webkit-animation-delay: 0.9s;
  animation-delay: 0.9s;
}

@-webkit-keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
    transform: perspective(140px) rotateX(-180deg);
    opacity: 0;
  }
  25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
    transform: perspective(140px) rotateX(0deg);
    opacity: 1;
  }
  90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
    transform: perspective(140px) rotateY(180deg);
    opacity: 0;
  }
}

@keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
    transform: perspective(140px) rotateX(-180deg);
    opacity: 0;
  }
  25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
    transform: perspective(140px) rotateX(0deg);
    opacity: 1;
  }
  90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
    transform: perspective(140px) rotateY(180deg);
    opacity: 0;
  }
}

.custom_nav {
  transition: .3s;
  -webkit-transition: .3s;
}

.custom_nav .navbar-brand {
  font-family: 'Kalam', sans-serif;
  font-weight: 400;
  font-size: 22px;
  color: #fff;
  transition: .3s;
  -webkit-transition: .3s;
}

.custom_nav .navbar-toggler {
  color: #fff;
}

#navbar .navbar-nav {
  transition: .3s;
  -webkit-transition: .3s;
}

#navbar .navbar-nav .active {
  color: #fff;
}

#navbar .nav-item:hover a {
  color: #fff;
}

#navbar .nav-item a {
  text-transform: capitalize;
  color: #BCABAE;
  font-size: 14px;
  padding: 10px;
  font-weight: 700;
  transition: .3s;
  -webkit-transition: .3s;
}

.nav_scroll {
  background: #fff;
  -webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.15);
}

.nav_scroll .navbar-brand {
  color: #000;
  margin-left: 10px;
}

.nav_scroll .navbar-toggler {
  color: #000;
}

.nav_scroll #navbar .navbar-nav .active {
  color: #008DD5 !important;
}

.nav_scroll #navbar .nav-item:hover a {
  color: #008DD5;
}

.nav_scroll #navbar .nav-item a {
  color: #000;
}

#banner {
  background: url(../images/banner.jpg);
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 60px 0;
  height: 100vh;
  position: relative;
}

#banner::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.6);
}

#banner .container {
  position: relative;
  z-index: 99;
  height: 100%;
}

#banner .container .row {
  height: 100%;
}

#banner .banner_contents {
  position: relative;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#banner .banner_contents .banner_inner {
  margin: auto;
  width: 100%;
}

#banner .banner_contents .banner_inner .banner_img img {
  height: 160px;
  width: 160px;
  border: 3px solid #fff;
  border-radius: 50%;
}

#banner .banner_contents .banner_inner h2 {
  font-size: 38px;
  font-family: "Montserrat", sans-serif;
  color: #fff;
  font-weight: 700;
  margin-top: 30px;
}

#banner .banner_contents .banner_inner .banner_ah h1 {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 48px;
  font-weight: 300;
}

#banner .banner_contents .banner_inner .banner_ah .ah-words-wrapper {
  overflow: visible;
}

#banner .banner_contents .banner_inner .banner_social {
  margin-top: 20px;
}

#banner .banner_contents .banner_inner .banner_social a {
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
}

#banner .banner_contents .banner_inner .banner_social a:hover i {
  color: #008DD5 !important;
}

#banner .banner_contents .banner_inner .banner_social a .banner_icon {
  height: 45px;
  width: 45px;
  position: relative;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.2);
}

#banner .banner_contents .banner_inner .banner_social a .banner_icon i {
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 14px;
  transition: .3s;
  -webkit-transition: .3s;
}

#about {
  padding: 50px 0;
}

#about .about_headings p {
  font-size: 16px;
  word-spacing: 1px;
  line-height: 30px;
  margin-top: 25px;
}

#about .about_counter_parent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#about .about_counter_parent .about_counter_wrapper {
  width: 100%;
  margin: auto;
}

#about .about_counter_parent .about_counter_wrapper .about_counter_col {
  margin-top: 15px;
}

#about .about_counter_parent .about_counter_wrapper .about_counter_col h3 {
  font-size: 20px;
  font-weight: 400;
  text-transform: capitalize;
  margin-bottom: 5px;
}

#about .about_counter_parent .about_counter_wrapper .about_counter_col span {
  font-weight: 700;
  font-size: 22px;
}

#skills {
  padding: 50px 0;
  background: #f1f1f1;
}

#skills .section_heading h1 {
  margin-bottom: 35px;
}

#skills .skills_bars h4 {
  font-size: 18px;
  font-weight: 700;
}

#skills .skills_bars .percentCount {
  font-family: "Lato", sans-serif;
}

#services {
  padding: 50px 0;
}

#services .section_heading p {
  font-size: 16px;
  margin-top: 10px;
}

#services .services_row {
  margin-top: 60px;
}

#services .services_row .services_col .services_contents {
  padding-right: 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#services .services_row .services_col .services_contents i {
  font-size: 32px;
}

#services .services_row .services_col .services_contents h4 {
  font-size: 20px;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  margin-top: 15px;
  margin-bottom: 10px;
}

#services .services_row .services_col .services_contents p {
  font-size: 15px;
}

#works {
  padding: 50px 0;
  background: #f1f1f1;
}

#works .works_nav {
  margin: 25px 0;
}

#works .works_nav .works_filter_nav .works_filter_button {
  display: inline-block;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 600;
  margin: 15px;
  cursor: default;
  transition: .3s;
  -webkit-transition: .3s;
}

#works .works_nav .works_filter_nav .active {
  color: #008DD5;
}

#works .works_filter_parent .works_filter_img {
  margin: 15px 0;
  position: relative;
}

#works .works_filter_parent .works_filter_img .works_filter_img_wrapper:hover .works_filter_img_hover {
  opacity: 1;
}

#works .works_filter_parent .works_filter_img .works_filter_img_wrapper:hover .works_filter_img_hover .works_filter_img_hover_contents h5 {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

#works .works_filter_parent .works_filter_img .works_filter_img_wrapper:hover .works_filter_img_hover .works_filter_img_hover_contents p {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

#works .works_filter_parent .works_filter_img .works_filter_img_wrapper:hover .works_filter_img_hover .works_filter_img_hover_contents a .work_filter_hover_zoom {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

#works .works_filter_parent .works_filter_img .works_filter_img_hover {
  position: absolute;
  top: 5px;
  bottom: 5px;
  left: 20px;
  right: 20px;
  background: #fff;
  opacity: 0;
  transition: .3s;
  -webkit-transition: .3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#works .works_filter_parent .works_filter_img .works_filter_img_hover .works_filter_img_hover_contents {
  display: block;
  margin: auto;
}

#works .works_filter_parent .works_filter_img .works_filter_img_hover .works_filter_img_hover_contents h5 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  letter-spacing: 2px;
  font-size: 14px;
  text-transform: uppercase;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  transition: .3s;
  -webkit-transition: .3s;
}

#works .works_filter_parent .works_filter_img .works_filter_img_hover .works_filter_img_hover_contents p {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  margin-top: -3px;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  transition: .3s;
  -webkit-transition: .3s;
}

#works .works_filter_parent .works_filter_img .works_filter_img_hover .works_filter_img_hover_contents a {
  border-radius: 50%;
}

#works .works_filter_parent .works_filter_img .works_filter_img_hover .works_filter_img_hover_contents a .work_filter_hover_zoom {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #000;
  position: relative;
  transition: .3s;
  -webkit-transition: .3s;
  margin: 10px auto 0 auto;
  -webkit-transform: translateY(5px);
          transform: translateY(5px);
}

#works .works_filter_parent .works_filter_img .works_filter_img_hover .works_filter_img_hover_contents a .work_filter_hover_zoom:hover i {
  color: #008DD5 !important;
}

#works .works_filter_parent .works_filter_img .works_filter_img_hover .works_filter_img_hover_contents a .work_filter_hover_zoom i {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #fff;
  font-size: 12px;
  transition: .3s;
  -webkit-transition: .3s;
}

#footer {
  padding: 50px 0;
  background: #222;
}

#footer .section_heading h1 {
  color: #fff;
}

#footer .footer_col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
  margin-bottom: 50px;
}

#footer .footer_col .footer_col_contents {
  margin: 0 auto;
}

#footer .footer_col .footer_col_contents i {
  color: #fff;
  font-size: 40px;
  margin-bottom: 15px;
}

#footer .footer_col .footer_col_contents h4 {
  color: #fff;
  text-transform: capitalize;
  margin-bottom: 5px;
}

#footer .footer_col .footer_col_contents p {
  color: #fff;
  font-size: 16px;
}

#footer .footer_form .form-control {
  margin-bottom: 15px;
  background: transparent;
  border: 1px solid #666;
  color: #e1e1e1;
}

#footer .footer_form .form-control:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

#footer .footer_form textarea {
  resize: none;
}

#footer .footer_form button {
  background: #d1d1d1;
  color: #222;
}

#footer .footer_form button:hover {
  background: #fff;
}

#footer2 {
  background: #000;
  padding: 20px 0;
}

#footer2 .footer2_social {
  margin-bottom: 15px;
}

#footer2 .footer2_social a {
  display: inline-block;
  margin-right: 25px;
  color: #fff;
}

#footer2 .footer2_social a:hover i {
  color: #008DD5 !important;
}

#footer2 .footer2_social a:last-child {
  margin-right: 0;
}

#footer2 .footer2_social a i {
  color: #fff;
  font-size: 14px;
  transition: .3s;
  -webkit-transition: .3s;
}

#footer2 p {
  color: #4f4f4f;
  font-size: 12px;
}
