*
{
    margin: 0;
    padding: 0;
}

ul,ol
{
    list-style-type: none;
}

a, a:hover
{
    text-decoration: none;
}

p
{
    line-height: 24px;
    margin: 0;
}

h1, h2, h3, h4, h5, h6
{
    margin: 0;
    padding: 0;
}

body
{
    font-family: 'Lato', sans-serif;
}

//Variables

$monts: 'Montserrat', sans-serif;
$lato: 'Lato', sans-serif;
$accent: #008DD5;
$shade: #BCABAE;
$alt_back: #f1f1f1;

//Global Properties Start

.section_heading
{
    h1
    {
        text-transform: capitalize;
        font-family: $monts;
        font-weight: 700;
        font-size: 32px;
    }
    
}

//Global Properties End

//Navbar Start

.custom_nav
{
    transition: .3s;
    -webkit-transition: .3s;
    
    .navbar-brand
    {
        font-family: 'Kalam', sans-serif;
        font-weight: 400;
        font-size: 22px;
        color: #fff;
        transition: .3s;
        -webkit-transition: .3s;
    }
    
    .navbar-toggler
    {
        color: #fff;
    }
}

#navbar
{
    .navbar-nav
    {
        transition: .3s;
        -webkit-transition: .3s;
        
        .active
        {
            color: #fff;
        }
    }
    
    .nav-item
    {
        &:hover
        {
           a
            {
                color: #fff;
            } 
        }
        
        a
        {
            text-transform: capitalize;
            color: #BCABAE;
            font-size: 14px;
            padding: 10px;
            font-weight: 700;
            transition: .3s;
            -webkit-transition: .3s;
        }
    }
}

.nav_scroll
{
    background: #fff;

    -webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.15);
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.15);
    
    .navbar-brand
    {
        color: #000;
        margin-left: 10px;
    }
    
    .navbar-toggler
    {
        color: #000;
    }
    
    #navbar
    {
        .navbar-nav
        {
            .active
            {
                color: $accent!important;
            }
        }
        
        .nav-item
        {
            &:hover
            {
               a
                {
                    color: $accent;
                } 
            }
            
            a
            {
                color: #000;
            }
        }
    }
}

//Navbar End

//Banner Start

#banner
{
    background: url(../images/banner.jpg);
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 60px 0;
    height: 100vh;
    position: relative;
    
    &::after
    {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background: rgba(0,0,0,.6);
    }
    
    .container
    {
        position: relative;
        z-index: 99;
        height: 100%;
        
        .row
        {
            height: 100%;
        }
    }
    
    .banner_contents
    {
        position: relative;
        height: 100%;
        display: flex;
        
        .banner_inner
        {
            margin: auto;
            width: 100%;
            
            .banner_img
            {
                img
                {
                    height: 160px;
                    width: 160px;
                    border: 3px solid #fff;
                    border-radius: 50%;
                }
            }
            
            h2
            {
                font-size: 38px;
                font-family: $monts;
                color: #fff;
                font-weight: 700;
                margin-top: 30px;
            }
            
            .banner_ah
            {
                h1
                {
                    color: #fff;
                    font-family: $monts;
                    font-size: 48px;
                    font-weight: 300;
                }
                
                .ah-words-wrapper
                {
                    overflow: visible;
                }
            }
            
            .banner_social
            {
                margin-top: 20px;
                
                a
                {
                    &:hover
                    {
                        i
                        {
                            color: $accent!important;
                        }
                    }
                    
                    border-radius: 50%;
                    display: inline-block;
                    margin-right: 5px;
                
                    .banner_icon
                    {
                        height: 45px;
                        width: 45px;
                        position: relative;
                        border-radius: 50%;
                        background: rgba(0,0,0,.2);

                        i
                        {
                            color: #fff;
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            font-size: 14px;
                            transition: .3s;
                            -webkit-transition: .3s;
                        }
                    }
                }
            }
        }
    }
}

//Banner End

//About Start

#about
{
    padding: 50px 0;
    
    .about_headings
    {
        p
        {
            font-size: 16px;
            word-spacing: 1px;
            line-height: 30px;
            margin-top: 25px;
        }
    }
    
    .about_counter_parent
    {
        display: flex;
        
        .about_counter_wrapper
        {
            width: 100%;
            margin: auto;
            
            .about_counter_col
            {
                margin-top: 15px;
                
                h3
                {
                    // font-weight: 700;
                    // font-size: 22px;
                    // text-transform: capitalize;
                    // margin-bottom: 5px;
                    font-size: 20px;
                    font-weight: 400;
                    text-transform: capitalize;
                    margin-bottom: 5px;
                }
                
                span
                {
                    // font-size: 20px;
                    // font-weight: 400;

                    font-weight: 700;
                    font-size: 22px;
                }
            }
        }
    }
}

//About End

//Skills Start

#skills
{
    padding: 50px 0;
    background: $alt_back;

    .section_heading
    {
        h1
        {
            margin-bottom: 35px;
        }
    }

    .skills_bars
    {
        h4
        {
            font-size: 18px;
            font-weight: 700;
        }

        .percentCount
        {
            font-family: $lato;
        }
    }
}

//Skills End

//Services Start

#services
{
    padding: 50px 0;

    .section_heading
    {
        p
        {
            font-size: 16px;
            margin-top: 10px;
        }
    }

    .services_row
    {
        margin-top: 60px;

        .services_col
        {
            .services_contents
            {
                padding-right: 50px;
                box-sizing: border-box;

                i
                {
                    font-size: 32px;
                }

                h4
                {
                    font-size: 20px;
                    font-weight: 700;
                    font-family: $monts;
                    margin-top: 15px;
                    margin-bottom: 10px;
                }

                p
                {
                    font-size: 15px;
                }
            }
        }
    }
}

//Services End

//Works Start

#works
{
    padding: 50px 0;
    background: $alt_back;
    .works_nav
    {
        margin: 25px 0;

        .works_filter_nav
        {
            .works_filter_button
            {
                display: inline-block;
                font-family: $monts;
                font-size: 18px;
                font-weight: 600;
                margin: 15px;
                cursor: default;
                transition: .3s;
                -webkit-transition: .3s;
            }

            .active
            {
                color: $accent;
            }
        }
    }

    .works_filter_parent
    {
        .works_filter_img
        {
            margin: 15px 0;
            position: relative;

            &:hover
            {
                .works_filter_img_hover
                {
                    opacity: 1;

                    .works_filter_img_hover_contents
                    {
                        h5
                        {
                            transform: translateY(0);
                        }
                        
                        p
                        {
                            transform: translateY(0);
                        }

                        a
                        {
                            .work_filter_hover_zoom
                            {
                                transform: translateY(0);
                            }
                        }
                    }
                }
            }

            .works_filter_img_hover
            {
                position: absolute;
                top: 5px;
                bottom: 5px;
                left: 20px;
                right: 20px;
                background: #fff;
                opacity: 0;
                transition: .3s;
                -webkit-transition: .3s;
                display: flex;

                .works_filter_img_hover_contents
                {
                    display: block;
                    margin: auto;

                    h5
                    {
                        font-family: $monts;
                        font-weight: 700;
                        letter-spacing: 2px;
                        font-size: 14px;
                        text-transform: uppercase;
                        transform: translateY(-5px);
                        transition: .3s;
                        -webkit-transition: .3s;
                    }

                    p
                    {
                        font-family: $monts;
                        font-size: 12px;
                        margin-top: -3px;
                        transform: translateY(-5px);
                        transition: .3s;
                        -webkit-transition: .3s;
                    }

                    a
                    {
                        border-radius: 50%;

                        .work_filter_hover_zoom
                        {
                            &:hover
                            {
                                i
                                {
                                    color: $accent!important;
                                }
                            }

                            width: 30px;
                            height: 30px;
                            border-radius: 50%;
                            background: #000;
                            position: relative;
                            transition: .3s;
                            -webkit-transition: .3s;
                            margin: 10px auto 0 auto;
                            transform: translateY(5px);

                            i
                            {
                                position: absolute;
                                top: 50%;
                                left: 50%;
                                transform: translate(-50%, -50%);
                                color: #fff;
                                font-size: 12px;
                                transition: .3s;
                                -webkit-transition: .3s;
                            }
                        }
                    }
                }
            }
        }
    }
}

//Works End

//Footer Start

#footer
{
    padding: 50px 0;
    background: #222;

    .section_heading
    {
        h1
        {
            color: #fff;
        }
    }

    .footer_col
    {
        display: flex;
        margin-top: 50px;
        margin-bottom: 50px;

        .footer_col_contents
        {
            margin: 0 auto;
            i
            {
                color: #fff;
                font-size: 40px;
                margin-bottom: 15px;
            }
            
            h4
            {
                color: #fff;
                text-transform: capitalize;
                margin-bottom: 5px;
            }
            
            p
            {
                color: #fff;
                font-size: 16px;
            }
        }
    }

    .footer_form
    {
        .form-control
        {
            &:focus
            {
                box-shadow: none;
            }

            margin-bottom: 15px;
            background: transparent;
            border: 1px solid #666;
            color: #e1e1e1;
        }

        textarea
        {
            resize: none;
        }

        button
        {
            &:hover
            {
                background: #fff;
            }
            
            background: #d1d1d1;
            color: #222;
        }
    }
}

//Footer End

//Footer 2 Start

#footer2
{
    background: #000;
    padding: 20px 0;

    .footer2_social
    {
        margin-bottom: 15px;

        a
        {
            &:hover
            {
                i
                {
                    color: $accent!important;
                }
            }

            &:last-child
            {
                margin-right: 0;
            }
            
            display: inline-block;
            margin-right: 25px;
            color: #fff;

            i
            {
                color: #fff;
                font-size: 14px;
                transition: .3s;
                -webkit-transition: .3s;
            }
            
        }
    }
    p
    {
        color: #4f4f4f;
        font-size: 12px;
    }
}

//Footer 2 End